* {

}

body {
    background-image: url("http://www.dundjinni.com/forums/uploads/Ravenbow/49E_BrickRound70_CG_bg-a.png");
    color: white;
    font-size: 30px;
}

h1 {
    color: rgb(255, 196, 0);
}

#quicklinks {
    float: right;
    background-color: rgb(255, 238, 0);
    width: 150px;
    height: 250px;
    color: black;
    border: dashed;
    border-color: orange;
    border-radius: 20%;
    box-shadow: 0px 0px 20px 5px orange;
    font-size: 15px;
}

.fix {
    position:fixed;
    bottom:0px;
    width: 100%;
}


