body {
    background-color: gray;
  }
  
  .outerbox {
    margin: 10px;
    background-color: goldenrod;
    display: inline-block;
  }
  
  .innerbox {
    display: inline-block;
    background-image: linear-gradient(salmon, salmon), linear-gradient(#1E90FF, #1E90FF);
    background-clip: content-box, padding-box;
  }
  
  #box0 { 

  }

  #box1 {
      height: 25px;
      padding: 5px;
      border-color: black; 
      border-width: 2px;
      border-style: dashed;
      margin: 10px;
  }

  #box2 {
      padding: 5px;
      border-color: black; 
      border-width: 2px;
      border-style: dashed;
  }

  #box3 {
    width: 300px;
    border-top-color: black;
    border-bottom-color: black;
    border-top-width:1px;
    border-bottom-width: 1px;
    border-left: 0px;
    border-right: 0px;
    border-style: solid;
    margin: 10px;

  }

  #box4 {
    width: 90px;
    height: 40px;
    padding: 20px;
    margin: 10px;

  }