* {
    box-sizing: border-box;
}

.card {
    width: 200px;
    position: absolute;
}

img {
    width: 100%;
}

input[type="checkbox"] {
    bottom: 0;
    position: absolute;
    margin: 10px;
}

input[type="checkbox"], input[type="checkbox"] + img {
    transition-property: transform;
    transition-duration: 1s;
    transition-timing-function: ease-in-out;
    z-index: 10;
}

input[type="checkbox"]:checked, input[type="checkbox"]:checked + img {
    transform: translate(0, 100px);
}

.hand {
    position: relative;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}

.card:nth-child(2) {
    left: 100px;
}

.card:nth-child(3) {
    left: 200px;
}

.card:nth-child(4) {
    left: 300px;
}

.card:nth-child(5) {
    left: 400px;
}

